{% extends "../../base.html" %}
{% block title %}Tu Du - Project Creation{% endblock %}

{% block content%}
    <div class="container">
        <div class="row pt-5">
            <h2>Create a New Project</h2>
            <p class="pt-2 text-muted">Enter the inforamation of your project here</p>
        </div>
        <div class="row pt-3">
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <div class="text-center">
                    <button type="submit" class="btn btn-dark align-items-center">Save</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}